# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.egg
*.egg-info
dist/
build/
*.log
*.pot
*.mo

# Virtual environment
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Flask
instance/
*.db
*.sqlite3

# Redis and Celery
celerybeat-schedule
*.pid
*.log

# Local configuration files
*.env
*.local
